/* css cooler css sass scss wha haha */

/* stole from sass website, for testing */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
    text-align: center;
    padding: 0px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

a.SystemUpdate {
	background-color: black;
	background: black;
}