/* css cooler css sass scss wha haha */

/* stole from sass website, for testing */

/* animations yo */
@keyframes hover {
  0% { top: 0px; } 
  50% { top: 7px; }
  100% { top: 0px; }
}

body {
  font-family: Verdana, sans-serif;
  color: #E8E6E3;
  background: linear-gradient(90deg, #181A1B 0%, #1A1C1D 3%, #1A1C1D 97%, #181A1B 100%);

  cursor: default;

}

h1 { 
  position: relative;
  padding: 2px;
  font-size: 50px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 35px;
  text-shadow: 5px 5px 15px black;

  margin: 5px 50px 22px 45px;

  animation-name: hover;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
} 

h3 { 
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 18.7px;

  margin: 5px 50px 25px;
} 

p { 
  padding: 1px;
  font-size: 26px; 
  font-style: normal; 
  font-variant: lighter; 
  font-weight: 350; 
  line-height: 26px;
  text-shadow: 2px 2px 7.5px black;

  color: #C5CDC7;

  margin: 35px 50px 25px;
} 

div {
  padding: 1px;
  font-size: 25px; 
  font-style: normal; 
  font-variant: lighter; 
  font-weight: 400; 
  line-height: 21px;
  text-shadow: 2px 2px 7.5px black;

  margin: 5px 50px 25px;
}

blockquote { 
  

  font-size: 25px; 
  font-style: normal; 
  font-variant: lighter; 
  font-weight: 400; 
  line-height: 24.2857px; 

  margin: 5px 50px 25px;
} 

pre { 
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;

  margin: 5px 50px 25px;
}

footer {
  font-size: 18px;
  font-style: normal;
  font-variant: lighter;
  opacity: 50%;
  color: lightgray;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

code {
  margin: 5px 50px 25px;
  display: inline-block;
  background-color: #290226;
  padding: 10px;
  padding-right: 50px;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: 5px 5px 10px #111;
}

/* link stuff yay */
a:link {
  color: yellow;
}

a:visited {
  color: gray;
}

a:hover {
  color: darkmagenta;
  cursor: pointer;
}

a:active {
  color: magenta;
}
/* ok link stuff over now */

/* selecting text override woo! */
::selection {
  background: #371638;
  opacity: 25%;
}
::-moz-selection {
  background: #371638;
  opacity: 25%;
}

nav {

  text-align: center;

  li { display: inline; }
  p { 
    display: inline; 
    color: gray;
  }

  ul {
    margin: 25px;
    padding: 10px 0px 15px;
    list-style: none;
  }

  a {
    padding: 6px 6px 15px;
    text-decoration: none;
  }

  a:link { color: yellow; }
  a:visited { color: yellow; }
  a:hover { color: darkmagenta; }
  a:active { color: magenta; }

  background: linear-gradient(90deg, #1A1C1D 0%, #272626 30%, #272626 70%, #1A1C1D 100%);

}

img {
  padding-left: 75px;
}

audio {
  padding: 50px 25px 50px 50px;
}

/* schcrollbar */
::-webkit-scrollbar {
  width: 20px;
  background-color: #272626;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}