<!DOCTYPE html>
<html lang="en">

  <!-- embed metadata stuff -->
  <meta content="[A2] Site" property="og:title" />
  <meta content="YouTube: @A2music" property="og:description" />
  <meta content="{{ current_url }};" property="og:url" />
  <meta content="https://raw.githubusercontent.com/A2source/a2source.github.io/main/content/img/embed-idle.gif" property="og:image" />

  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/A2source/a2source.github.io/main/content/img/favicon.ico">
    <script src="https://kit.fontawesome.com/807649a97a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/window.css"></link>
    <script src="/script/windows.js"></script>

    <!-- this is amazing right here -->
    <base target="_blank">

  </head>

  <body style="height: 100%">
    <section class="section">
      <div id="container" style="height: 100%">
        {% block content %} {% endblock %}
      </div>
    </section>
  </body>

</html>