<!DOCTYPE html>
<html lang="en">

{% set css = load_data(path="public/style.css") %}
<style>
  {{css | safe}}

  .div {
    border: 5px;
    border-style: none none none dashed;
    border-color: #867D6E;
    background-color: #161819;
    transform: scale(0.95, 1);
    padding-bottom: 25px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

</style>

<head>
  <meta charset="utf-8">
  <title>[A2] Site</title>
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/A2source/A2site/main/content/img/favicon.ico">
  <script src="https://kit.fontawesome.com/807649a97a.js" crossorigin="anonymous"></script>

  <!-- this is amazing right here -->
  <base target="_blank">

</head>

<nav class="container">
  <div class="nav-bar">
    <a class="nav-tab nav-first" href="https://a2source.github.io/A2site/blog" target="_self">
      <i class="fa-solid fa-circle-info"></i> About
    </a>
    <a class="nav-tab" href="https://a2source.github.io/A2site/blog" target="_self">
      <i class="fa-solid fa-gears"></i> Projects
    </a>
    <a class="nav-tab" href="https://a2source.github.io/A2site/download" target="_self">
      <i class="fa-solid fa-download"></i> Downloads
    </a>
    <a class="nav-tab" href="https://a2source.github.io/A2site/blog" target="_self">
      <i class="fa-solid fa-list-ul"></i> Posts
    </a>
  </div>
</nav>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>