<!DOCTYPE html>
<html lang="en">

  <!-- embed metadata stuff -->
  <meta content="[A2] Site" property="og:title" />
  <meta content="YouTube: @A2music" property="og:description" />
  <meta content="{{ current_url }};" property="og:url" />
  <meta content="https://raw.githubusercontent.com/A2source/a2source.github.io/main/content/img/embed-idle.gif" property="og:image" />

  {% set css = load_data(path="public/style.css") %}
  <style>
    {{css | safe}}

    .div {
      border: 5px;
      border-style: none none none dashed;
      border-color: #867D6E;
      background-color: #161819;
      transform: scale(0.95, 1);
      padding-bottom: 25px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
    }

  </style>

  <head>
    <meta charset="utf-8">
    <title>[A2] Site</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/A2source/a2source.github.io/main/content/img/favicon.ico">
    <script src="https://kit.fontawesome.com/807649a97a.js" crossorigin="anonymous"></script>

    <!-- this is amazing right here -->
    <base target="_blank">

  </head>

  <nav class="container">
    <div class="nav-bar">
      <a class="nav-tab nav-first" href="/about" target="_self">
        <i class="fa-solid fa-circle-info"></i> About
      </a>
      <a class="nav-tab" href="/" target="_self">
        <i class="fa-solid fa-house"></i> Home
      </a>
      <a class="nav-tab" href="/blog" target="_self">
        <i class="fa-solid fa-gears"></i> Projects
      </a>
      <a class="nav-tab" href="/blog" target="_self">
        <i class="fa-solid fa-list-ul"></i> Posts
      </a>
    </div>
  </nav>

  <body>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
  </body>

  <footer >
    Created using <a href = "https://getzola.org">Zola</a> &#8226 Hosted by <a href = "https://pages.github.com/">Github Pages</a> <br>
    <p style="font-size: 15px; margin-top: 5px;"> Heavily inspired by <a style="font-size: 10" href = "https://funkin.me">Funkin.me </a> </p>
  </footer>

</html>