{% extends "base.html" %}

{% block content %}

<nav class="container">
  <ul>
    <li>
      <a href="https://a2source.github.io/A2site/blog">
        <span> About Me </span>
      </a>
    </li>
    <p>&#8226</p>
    <li>
      <a href="https://a2source.github.io/A2site/blog">
        <span> Current Projects </span>
      </a>
    </li>
    <p>&#8226</p>
    <li>
      <a href="https://a2source.github.io/A2site/blog">
        <span> Download Portal </span>
      </a>
    </li>
    <p>&#8226</p>
    <li>
      <a href="https://a2source.github.io/A2site/blog">
        <span> All Blog Posts </span>
      </a>
    </li>
  </ul>
</nav>

<div class="div">

  <h1 class="title" style="text-align: center;">
    Welcome to A2Site!
  </h1>

  <p>
    Hi! Welcome to <a href = "https://youtube.com/@A2music">[A2]'s</a> website! here you can see all of the projects I am currently working on, alongside teasers and other snippets of my work!
  </p>
  <p>
    In the future, this page will include exclusive updates on my current projects, upcoming projects, and concepts.
  </p>
  <p>
    I also plan on including a downloads section for FLPs, Music Files, and other media related to my projects.
  </p>

  <img src="https://raw.githubusercontent.com/A2source/A2site/main/content/img/spookeez.gif" style="width:200px; height:220px; padding-top: 25px;">

</div>

<footer >
Created using <a href = "https://getzola.org">Zola</a> &#8226 Hosted by <a href = "https://pages.github.com/">Github Pages</a>
</footer>

{% endblock content %}