{% extends "base.html" %}

{% block content %}

<div class="div" id="main-div">
  <div class="main-page-content">

    <h1 class="title">
      Welcome to [A2] Site!
    </h1>

    <!-- hello -->
    <p>
      Hello! I'm [A2], a music producer / programmer / aspiring artist! I've been making music for ~5 years, and programming actively for ~2.
    </p>

    <p>
      Click the links below to see some examples of my work!
    </p>

    <div class="landing-links">

      <span class="landing-yt">
        <a href="https://youtube.com/@A2music" target="_blank">
          <i class="fa-brands fa-youtube"></i> YouTube
        </a>
      </span>

      &#8226

      <span class="landing-bandcamp">
        <a href="https://a2345.bandcamp.com" target="_blank">
          <i class="fa-brands fa-bandcamp"></i> Bandcamp
        </a>
      </span>

      &#8226

      <span class="landing-git">
        <a  href="https://github.com/A2source" target="_blank">
          <i class="fa-brands fa-github"></i> Github
        </a>
      </span>

    </div>

    <p>
      <a href="https://www.youtube.com/playlist?list=PLzE10lTQw1HL0Q1pde-Oys0AI35KvGNgS"> A collection of every song I've ever made / worked on </a>
    </p>

    <p>
      <a href="https://www.youtube.com/playlist?list=PLzE10lTQw1HKzGacKyGoinV4kAgzy4E4E"> My Best Music </a>
    </p>

  </div>
</div>

{% endblock content %}